.Avatar {
    margin: 0px 8px 0px 8px;
    object-fit: cover;
    border: 5px solid #6600ff;
  }

.CategoryPhotoDesign {
    -webkit-clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 55%, 100% 0%, 100% 100%, 0% 100%);
    width:200px;
    height:200px;
    
    background-color:rgb(162, 0, 255);
  }