.Avatar {

    object-fit: cover;
    border-radius: 50%;
  }

.CategoryPhotoDesign {

  width:200px;
  height:200px;
  border: 10px solid rgb(200, 104, 238);
  border-radius: 50%;
  }

  @media screen and (max-width: 991px) {
    .CategoryPhotoDesign {
      width:20px;
      height:20px;
      visibility:hidden;
    }
  }