.CategoryImage {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 4px;
  }
  .Labels {
    color: #7e00fb;
}

@media screen and (max-width: 991px) {
    .CategoryImage {
      width: 200px;
      height: 200px;
    }
  }

