.Container {
    min-height: 343px;
}

.Input {
    background: #ffffff;
    border: 1px solid #7700ff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000000;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.InputText {
    text-align: center;
    
}
.bgwarning{
    background: transparent;
    color: #5a1eff;
    text-align: center;

    padding-bottom: 15px;
  }
.InputTextarea {
    text-align: left;
    resize: none;
}

.bgwarning {
    background: transparent;
    color: #5a1eff;
    text-align: center;

    padding-bottom: 15px;
}

.Labels {
    color: #7e00fb;
}