.Form {
    border: none;

  }
  
  .Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }

  .Input {
    background: #ffffff;
    border: 1px solid #7700ff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000000;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

.InputText {
  text-align: center;
  
}

  .InputTextarea {
    text-align: center;
    resize: none;
}