.Form {
    border: none;

  }
  
  .Button {
    border: none;
    background-color: #242a3d;
    color: aliceblue;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: aliceblue;
    color: #242a3d;
  }

  .Input {
    background: #ffffff;
    border: 1px solid hsl(281, 84%, 80%);

    color: #000000;
    text-align: center;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    border-top-right-radius : 20px;
    
  }

  .InputTextarea {
    text-align: center;
    resize: none;
}