.SearchBar input {
    border: 1px solid #5100ff;
    color: #7847ff;
    padding-left: 40px;
    margin-bottom: 16px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .SearchBar input:focus {
    color: #5f0cfa;
  }

  .SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    padding: 9px;
    padding-left: 15px;
  }
  
  .SearchIcon:hover {
    cursor: default;
    color: #8a6dff;
  }