.NavBar {


    padding-bottom: 0px;
    height: 5em;
}

.Navlink {
    padding: 5px;
}

span {
    font-size: 0.9rem
}


i {
    color : #750dfe;

    padding-right: 15px;


}


.color:active {
    color:red;
}

i:hover{
    font-size: 32px;
}

