.NavBar {


    padding-bottom: 0px;

}

.Navlink {
    padding: 5px;
}

span {
    font-size: 0.9rem
}


i {
    color : #750dfe;
    padding-left: 15px;

}




.Active i {
    color: #7222af;
}

i:hover{
    font-size: 40px;
}

