.Screenshot {
    background-color: #ffffff;
    border: 2px solid #974cff;
    margin-bottom: 16px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .Screenshot figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #8864ff;
  }
  
  .Heart:hover {
    color: #d7a2ff;
  }
  
  .HeartOutline:hover {
    color: #623fff;
  }
  .ScreenshotBar{
    color: rgb(82, 73, 255);
  }
  .LikeResult{
    color: rgb(82, 73, 255);
  }