.Row {
    height: calc(100vh - 81px);
    
  }
  .Input {
    background: #ffffff;
    border: 1px solid #7700ff;
    box-sizing: border-box;
    border-radius: 2px;
    color: #000000;
    text-align: center;
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
    border-bottom-right-radius : 20px;
    border-top-right-radius : 20px;
    padding: 10px;
  }
  .bgwarning{
    background: transparent;
    color: #5a1eff;
    text-align: center;

    padding-bottom: 15px;
  }
  .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #5a1eff;
  }
  
  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
  }
  
  .Link span {
    color: #8000ff;
  }
  
  .Container {
    padding: 30px 10px;
  }
  
  .SignInCol {
    height: 320px;
    
  }
  
  .SignUpCol {
    height: 375px;
  }