.App {
  font-family: "Ubuntu", sans-serif;
  background-color: #dab3ff;
  min-height: 100vh;
}

body {
  background-color: #dab3ff;
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #6600ff;

}

.MessagesInfo{

    background: transparent;
    color: #5a1eff;
    text-align: center;

    padding-bottom: 15px;
  
}

.ContentProfile {
  background-color: transparent;
  padding: 10px;

}

.ContentComment {
  background-color: transparent;
  padding: 10px;

}

.FillerImage {
  /*object-fit: cover;*/
  /*border-radius: 50%;*/
  /*height: 100%;*/
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: #6b33f9;
  transition: color ease-in-out 0.3s;
}



a:hover {

  text-decoration: none;
}

input[type="file"] {
  display: none;
}

i {
  color: #7958ff;
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

.AlignCenter{
  text-align: center;
}

.figure {
  text-align: center;
  display: inline-block;
}



.AbortedAlert{
color : #ff0000;
}

.SearchBar input {
  border: 1px solid #5100ff;
  color: #7847ff;
  padding-left: 40px;
  margin-bottom: 16px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.SearchBar input:focus {

  color: #5f0cfa;

  
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: #8a6dff;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: #a15dff;
}
*::-webkit-scrollbar-thumb {
  background: #622eff;
}
*::-webkit-scrollbar-thumb:hover {
  background: #9e59ff;
}